*,*::after,*::before{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns:1fr auto;
    grid-template-rows:1fr auto;
    grid-template-areas:
    "image sidebar"
    "slider sidebar";
    height: 100vh;
    width: 100vw;
    background-color:gray
}
.main-image{
    grid-area: image;
    width: 100%;
    height:100%;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}
.slider{
    width: 100%;
    cursor:pointer;
}
.upload-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-image > h1{
    color: blue;
    font-size: 2rem;
}
.sidebar{
    grid-area:sidebar;
    background-color: hsl(292,61%, 80%);
    border-left: hsl(265, 100%,56%);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;

}
.Sidebaritem{
    cursor: pointer;
    border:none;
    outline:none;
    background-color: hsl(292,61%, 80%);
    position:relative;
    padding:1rem 2.5rem;
    transition:background-color 150ms;
}
.Sidebaritem:hover{
    background-color: hsl(292, 61%, 54%);
}
.Sidebaritem.active{
    background-color: hsl(292,61%,64%);
}
.Sidebaritem::after{
    content:"";
    position: absolute;
    width: 80%;
    left: 10%;
    height: 2px;
    bottom: 0;
    background-color: hsl(292, 61%,46%);
}
.Sidebaritem:last-child::after{
    display: none;
}